/* Write your CSS here */
.box {
  border-style: solid;
  border-color: #ffffff;
  padding: 10px;
  width: 300px;
  margin: 10px;
  background-color: #585076;
  margin-left: 100px;
  border-radius: 5px;
}
.amount {
  color: #d4d2db;
  font-size: 28px;
}
.dot {
  list-style-type: none;
}
