/* Write your CSS here */
.con {
  background-color: #150b3e;
  margin: 100px;
  border-radius: 20px;
  padding: 50px;
}
.sub-con {
  display: flex;
  flex-direction: row;
}
.logo {
  background-color: #c7d2fe;
  height: 100px;
  width: 100px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.p {
  color: #7c3aed;
  font-size: 30px;
}
.name {
  color: #d4d2db;
  font-size: 30px;
  margin-top: 40px;
}
.sub-con2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.amount {
  color: #d4d2db;
  font-size: 28px;
}
.balance {
  color: #585076;
  font-size: 28px;
}
.text {
  color: #585076;
  font-size: 22px;
}
.box {
  border-style: solid;
  border-color: #ffffff;
  padding: 10px;
}
.total-box {
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}
